// hds/contact-info block

.hds-contact-info {
	&__item {
		margin-bottom: var(--wp--preset--spacing--4);
	}

	&__label {
		color: var(--wp--preset--color--gray);
		display: block;
		font-size: var(--wp--preset--font-size--s);
		font-weight: 600;
		text-transform: uppercase;
	}

	&__legal {
		font-size: var(--wp--preset--font-size--s);
	}

	&__social {
		display: flex;
		gap: var(--wp--preset--spacing--3);
		margin-top: var(--wp--preset--spacing--4);
	}

	p {
		margin: 0;
	}
}
