// Archive template

.archive-grid {
	display: grid;
	gap: var(--wp--preset--spacing--6);
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.archive-item {
	&-image img {
		aspect-ratio: 16 / 9;
		object-fit: cover;
		width: 100%;
	}

	h2 {
		font-size: var(--wp--preset--font-size--xl);
		margin: var(--wp--preset--spacing--3) 0 var(--wp--preset--spacing--2);

		a {
			color: var(--wp--preset--color--black);
			text-decoration: none;
		}
	}

	&-excerpt {
		color: var(--wp--preset--color--gray);
	}

	&-link {
		font-weight: 600;
	}
}
