// Service Hero

.service-hero {
	background: var(--wp--preset--color--light-gray);
	background-position: center;
	background-size: cover;
	padding-block: var(--wp--preset--spacing--16);
	text-align: center;
}

.service-subtitle {
	color: var(--wp--preset--color--gray);
	font-size: var(--wp--preset--font-size--l);
}
